*{
  margin:0;
  padding:0;
  
}
body{
 background-image:url("https://cdn1.vectorstock.com/i/1000x1000/87/40/neon-future-game-pad-background-vector-35068740.jpg");
  background-size:1200px;
 
  text-align:center;
 font-family: 'East Sea Dokdo', cursive;

}
nav{
text-align:center;
  margin-top:20px;
  
}
.nav-head{
  color: #4ECCA3;
  font-size:8vw;
  text-shadow:4px 4px blue;
}

.first-div{
display:flex;
 
  justify-content:center;
  margin-top:70px;
    }

@media(max-width:750px){
  .first-div{
    margin-top:100px;
  }
  body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo6vUImqeCay9omDh1q9DCx3SbdFgUEdnDEA&usqp=CAU");
  }
 
 
  .nav-head{
    font-size:3rem;
  }
}
@media(max-width:400px){
  
 
  
  
}
.container{
  position:relative;
  display:grid;
 margin-top:2px;
  grid-template-columns:repeat(3 ,10vw);
    grid-templates-rows:repeat(3 ,10vw);


}
span{
  position:absolute;
margin-bottom:70px;
}
.box{
  border:solid red;
  color:pink;
  padding-top:60px;
  cursor:pointer;
  font-size:8vw;
  display:flex;
  justify-content:center;
  align-items:center;
 


}
.br-0{
border-right:0;}

.bl-0{
border-left:0;}

.bt-0{
border-top:0;}

.bb-0{
border-bottom:0;}
.win-lose{
  color:red;
  font-size:3vw;
  position:absolute;
  left:20px;
}
.win{

}

.turn{
  top:70px;
}
.line{
  background-color:pink;
  width:0;
  transition:width 1s ease-in-out;
  height:3px;
  position:absolute;
  
}
